@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap");

body {
  background-color: beige;
  font-family: Ubuntu, sans-serif;
}

.content-wrapper {
  display: inline-block;
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
}

.loading {
  position: absolute;
  top: 50%;
  left: 47%;
  .loading-text {
    font-size: 60px;
  }
}
