.stats-wrapper {
  margin-left: 90px;
}

.stats-container {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  margin-top: 35px;

  .sprite-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .sprite {
      width: 276px;
      margin-top: 28px;
    }
    .types {
      display: flex;
      justify-content: center;
      margin-top: 22px;

      .type-stat {
        border: 2px solid;
        padding: 3px 12px;
        border-radius: 20px;
      }
    }
  }

  .base-stats-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 47px;
    background-color: #aceeff;
    height: 252px;
    border: 3px solid;
    border-radius: 45px;
    box-shadow: 5px 4px 9px 5px rgba(0, 0, 0, 0.28);
    gap: 10px;
    margin-left: 30px;

    .max-bar {
      width: 255px;
      border-radius: 20px;
      background-color: white;
      border: 2px solid #0000002b;
    }

    .stat {
      display: flex;

      .stat-bar {
        display: flex;
        align-items: center;
        height: 20px;
        min-width: 26px;
        background-color: orange;
        border-radius: 20px;
        padding: 2px 0px 2px 0px;
        border: 1px solid #00000059;
      }
    }

    .stat-label {
      display: flex;
      align-items: center;
      margin-left: 24px;
      width: 88px;
      font-family: cursive;
    }

    .stat-number {
      padding: 0 5px 0 5px;
      font-family: cursive;
    }
  }

  .strengths_weaknesses-container {
    display: flex;
    flex-direction: column;
    max-width: 303px;
    background-color: #aceeff;
    border: 3px solid;
    border-radius: 45px;
    box-shadow: 5px 4px 9px 5px rgba(0, 0, 0, 0.28);
    padding: 11px;
    margin-right: 30px;

    .border-info-text {
      bottom: 33px;
      font-size: 14px;
    }

    .strengths,
    .weaknesses,
    .immunities {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      justify-content: center;
      padding: 10px 0;
    }

    .strength-stat,
    .immunity-stat {
      padding: 3px 12px;
      border-radius: 20px;
      border: 4px solid;
    }

    .weakness-stat {
      padding: 3px 12px;
      border-radius: 20px;
      border: 2px solid;
    }
  }
}

.advantage-label {
  font-size: 28px;
  border-bottom: 3px solid;
  margin-bottom: 6px;
  width: 189px;
}

.btn-container {
  display: flex;
  justify-content: center;
  .add-to-team-btn {
    width: 186px;
    border-radius: 23px;
    margin-top: 15px;
    padding: 3px;
    font-size: 25px;
    cursor: pointer;
    &:disabled {
      cursor: initial;
    }
  }
}
