.search-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .search-bar-container {
    display: flex;
    flex-wrap: wrap;
    width: 420px;

    .alt-btn-container {
      margin: auto;
      margin-top: 10px;
      .alt-btn {
        font-size: 20px;
        padding: 5px;
        border: 1.5px solid;
        border-radius: 15px;
        cursor: pointer;
      }
    }

    #search-bar {
      font-size: 25px;
      width: 300px;
    }

    .select-version {
      font-size: 25px;
    }
  }
}
