body {
  background-color: beige;
}

* {
  margin: 0;
  padding: 0;
}


.top-banner {
  height: 150px;
  background-color: rgba(255, 0, 0, 0.863);

  #title {
    display: flex;
    justify-content: center;
    padding-top: 30px;
    font-size: 70px;

  }
}

.search-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .search-bar-container {
    display: flex;

    #search-bar {
      font-size: 25px;
      width: 300px;
    }

    .select-version {
      font-size: 25px;
    }
  }

}

.stats-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  .sprite {
    width: 276px;
    margin: 28px 0px 0px 0;
  }


  .types {
    display: flex;
    align-items: center;
    margin-top: 22px;

    .type-stat {
      border: 2px solid;
      padding: 3px 12px;
      border-radius: 20px;
    }
  }

  .strengths_weaknesses-container {
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 303px;
    bottom: 273px;
    right: 327px;
    background-color: #aceeff;
    border: 3px solid;
    border-radius: 45px;
    padding: 11px;

    .strengths,
    .weaknesses,
    .immunities {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      justify-content: center;
      padding: 10px 0;

    }

    .strength-stat,
    .weakness-stat,
    .immunity-stat {
      border: 4px solid rgba(128, 128, 128, 0.486);
      padding: 3px 12px;
      border-radius: 20px;
    }
  }
}

label {
  font-size: 28px;
  border-bottom: 3px solid;
  margin-bottom: 6px;
  width: 189px;
}