body {
  background-color: beige;
}

* {
  margin: 0;
  padding: 0;
}

.top-banner {
  height: 150px;
  background-color: rgba(255, 0, 0, 0.863);

  #title {
    display: flex;
    justify-content: center;
    padding-top: 30px;
    font-size: 70px;
  }
}

.search-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .search-bar-container {
    display: flex;

    #search-bar {
      font-size: 25px;
      width: 300px;
    }

    .select-version {
      font-size: 25px;
    }
  }
}

.stats-wrapper {
  width: 1100px;
}

.stats-container {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  margin-top: 35px;

  .sprite-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .sprite {
      width: 276px;
      margin: 28px 35px 0px 35px;
    }
    .types {
      display: flex;
      justify-content: center;
      margin-top: 22px;

      .type-stat {
        border: 2px solid;
        padding: 3px 12px;
        border-radius: 20px;
      }
    }
  }

  .base-stats-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 47px;
    background-color: #aceeff;
    height: 252px;
    border: 3px solid;
    border-radius: 45px;
    box-shadow: 5px 4px 9px 5px rgba(0, 0, 0, 0.28);
    gap: 10px;

    .max-bar {
      width: 255px;
      border-radius: 20px;
      background-color: white;
      border: 2px solid #0000002b;
    }

    .stat {
      display: flex;

      .stat-bar {
        display: flex;
        align-items: center;
        height: 20px;
        min-width: 26px;
        background-color: orange;
        border-radius: 20px;
        padding: 2px 0px 2px 0px;
        border: 1px solid #00000059;
      }
    }

    .stat-label {
      display: flex;
      align-items: center;
      margin-left: 24px;
      width: 88px;
      font-family: cursive;
    }

    .stat-number {
      padding: 0 5px 0 5px;
      font-family: cursive;
    }
  }

  .strengths_weaknesses-container {
    display: flex;
    flex-direction: column;
    max-width: 303px;
    background-color: #aceeff;
    border: 3px solid;
    border-radius: 45px;
    box-shadow: 5px 4px 9px 5px rgba(0, 0, 0, 0.28);
    padding: 11px;

    .border-info-text {
      bottom: 33px;
      font-size: 14px;
    }

    .strengths,
    .weaknesses,
    .immunities {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      justify-content: center;
      padding: 10px 0;
    }

    .strength-stat,
    .immunity-stat {
      padding: 3px 12px;
      border-radius: 20px;
      border: 4px solid;
    }

    .weakness-stat {
      padding: 3px 12px;
      border-radius: 20px;
      border: 2px solid;
    }
  }
}

.advantage-label {
  font-size: 28px;
  border-bottom: 3px solid;
  margin-bottom: 6px;
  width: 189px;
}

.btn-container {
  display: flex;
  justify-content: center;
  .add-to-team-btn {
    width: 186px;
    border-radius: 23px;
    margin: 15px 95px 0 0;
    padding: 3px;
    font-size: 25px;
    cursor: pointer;
    &:disabled {
      cursor: initial;
    }
  }
}

.team {
  display: flex;
  justify-content: center;
  .team-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 150px;
    margin: 100px 0 0 0;
    cursor: pointer;

    .team-stat-container {
      visibility: hidden;
      margin-bottom: 10px;
      .team-stat {
        padding: 3px 12px;
        border-radius: 20px;
        border: 4px solid;
      }
    }
    &:hover {
      .team-stat-container {
        visibility: visible;
      }
    }

    .team-sprite {
      width: 100px;
    }
  }

  .delete-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    width: 25px;
    height: 25px;
  }
}

.loading {
  position: absolute;
  top: 50%;
  left: 47%;
  .loading-text {
    font-size: 60px;
  }
}
